<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top" class="index">

<% if current_user %>
<%= render :partial => 'layouts/header_logged_in' %>
<% else %>
<%= render :partial => 'layouts/header_logged_out' %>
<% end %>

<section id="yield">
<div class="container-fluid">
	<%= yield %>
</div>
</section>

</body>
</html>
